@model TrazabilidadGanadera.Areas.Categoria.Models.Categoria
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit";
}
<div class="container" style="margin:20px auto; max-width:800px">
    @foreach (ModelState modelState in ViewData.ModelState.Values)
    {
        if (modelState.Errors.Count > 0)
        {
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-danger-sign"></span>
                <strong>Error</strong>
                @{
                    foreach (ModelError error in modelState.Errors)
                    {
                        <p>@error.ErrorMessage</p>
                    }
                }
            </div>
        }
            
    }
    <form method="post">
        <h2 class="page-header">Editar Categoría</h2>
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <label class="control-label">
                Nombre
            </label>
            @Html.TextBoxFor(m => m.Nombre, new { @class="form-control", @placeholder="Ingrese el nombre de la categoría", @required="true"})
        </div>
        <div class="form-group">
            <label class="control-label">
                Descrpción
            </label>
            @Html.TextAreaFor(m => m.Descripcion, new { @class="form-control", @placeholder="Ingrese la descripción de la categoría", @required="true"})
        </div>
        <div class="form-group">
            <label class="control-label">
                Sexo
            </label>
            @Html.DropDownListFor(model => model.SexoId, Model.Sexos, new { @class="form-control", @required="true"})

        </div>
        <div class="text-right">
            <a class="btn btn-link" onclick="window.history.back()">Cancelar</a>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
    

</div>